<div>
  <p>
    <strong><%= comment.user.email %> says:</strong>
    <%= comment.content %>
    <% if comment.user == current_user %>
      <span class="comment-admin">
        <%= link_to 'Edit', edit_instapost_comment_path(@instapost, comment) %> |
        <%= link_to 'Delete', [@instapost, comment], method: :delete %>
      </span>
    <% end %>
  </p>
</div>
